$color-blue: #00c8ff;
$color-ltgrey:#cccccc;
$color-grey:#666666;
$color-green: #009900;
$color-ltgreen: #00cc00;
$color-ltergreen:#99ff99;
$color-dkpurple: #0f0f23;
$color-gold:#ffff66;
$color-silver: #9999cc;
$color-brown: #a47a4d;

$cl-background: $color-dkpurple;
$cl-main-header: $color-ltgreen;
$cl-title: $color-green;
$cl-title-hover: $color-ltergreen;
$cl-text: $color-ltgrey;
$cl-gold: $color-gold;
$cl-silver: $color-silver;
