@import "colors";
@import "structure";

$breakpoint-desktop: 1023px;
$breakpoint-tablet: 767px;
$breakpoint-mobile: 449px;

.appWrapper{
  display: flex;
  justify-content: center;
  background-color: $cl-background;
  
}

.mainWrapper {
  display: flex;
  text-align: center;
  width: 75rem;
  min-height: 100vh;
  background-color: $cl-background;
  flex-direction: column;
  margin: 2rem;
}

.nav {
  flex-direction: row;
}

.nav-item{
  color: $cl-title;
  margin: 0px 5px;
  text-decoration: none;
  cursor: pointer;
  transition: .5s;
}

.nav-item:hover{
  color: $cl-title-hover;
}

.link{
  color: $cl-title;
  text-decoration: none;
  cursor: pointer;
  transition: .5s;
}

.link:hover{
  color: $cl-title-hover;
}

.title{
  color: $cl-title;
}

.text{
  color: $cl-text;
}

.award-gold{
  color: $cl-gold;
}

.award-silver{
  color: $cl-silver;
}

.text-highlight-white{
  color: $cl-text;
  text-shadow: 0 0 5px $cl-text;
}

.text-highlight-yellow{
  color: $cl-gold;
  text-shadow: 0 0 5px $cl-gold;
}

.chart-wrapper{
  display: flex;
  border: solid 1px $cl-title;
  box-shadow: 0 0 10px $cl-title;
  transition: .5s;
  align-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.a{
  background-color: $color-brown;
}

.chart-wrapper:hover{
  border: solid 1px $cl-title-hover;
  box-shadow: 0 0 10px $cl-title-hover;
}

.chart-division, .info-division{
  padding: 1rem;
  width: 50%;
  text-align: left;
}

.calendar-days{
  transition: transform .5s
}

.calendar-days:hover{
  transform: scale(1.1);
}

body{
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  margin: 0;
}

h1{
  text-decoration: none;
  color: $cl-main-header;
  text-shadow: 0 0 2px $cl-main-header, 0 0 5px $cl-main-header;
}

h2{
  text-decoration: none;
  color: $cl-main-header;
}

p{
  color: $cl-text;
}

a{
  text-decoration: none;
  color: inherit;
}

span{
  color: $cl-text;
}

@media (max-width: $breakpoint-tablet) {
  .chart-division {
    display: none;
  }

  .info-division{
    width: 100%;
  }
}