@import "colors";
@import "structure";

.appWrapper{
  display: flex;
  justify-content: center;
  background-color: $cl-background;

}

.mainWrapper {
  display: flex;
  text-align: center;
  width: 75rem;
  min-height: 100vh;
  background-color: $cl-background;
  flex-direction: column;
}

.nav {
  flex-direction: row;
}

.nav-item{
  color: $cl-title;
  margin: 0px 5px;
  text-decoration: none;
}

.nav-item:hover{
  color: $cl-title-hover;
}

h1{
  text-decoration: none;
  color: $cl-main-header;
  text-shadow: 0 0 2px $cl-main-header, 0 0 5px $cl-main-header;
}

h2{
  text-decoration: none;
  color: $cl-main-header;
}

p{
  color: $cl-text;
}

a{
  text-decoration: none;
  color: inherit;
}

span{
  color: $cl-text;
}

.title{
  color: $cl-title;
}

.text{
  color: $cl-text;
}

.award-gold{
  color: $cl-gold;
}

.award-silver{
  color: $cl-silver;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

