.margin-bottom-s{
    margin-bottom: 1rem;
  }
  
  .margin-bottom-m{
    margin-bottom: 2rem;
  }
  
  .margin-bottom-l{
    margin-bottom: 3rem;
  }

  .margin-vetical-zero{
      margin-top: 0;
      margin-bottom: 0;
  }